<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      >
    <h:body>
        <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                        xmlns:ui="http://java.sun.com/jsf/facelets"
                        xmlns:h="http://java.sun.com/jsf/html"
                        xmlns:f="http://java.sun.com/jsf/core"
                        xmlns:b="http://bootsfaces.net/ui"
                        template="template.xhtml"
                        >


            <ui:define name="content">
                <div class="containter">
                    <style type="text\css">
                        table thead {
                            display: none;
                        }
                    </style>
                    <h:form>
                        <b:dataTable value="#{GuestBookController.entries}" var="entry" paginated="false" striped="false" searching="false" info="false" border="false">
                            <b:dataTableColumn label="Wpis" orderable="false" searchable="false" data-order="#{entry.entryDate}" data-type="date" order="desc">                    

                                <h:outputText value="#{entry.name}" rendered="#{not entry.editable}" /> <h:outputText value="#{entry.entryDate}" rendered="#{not entry.editable}" />
                                <br/>
                                <h:inputTextarea value="#{entry.content}"  rendered="#{entry.editable}" />
                                <h:outputText value="#{entry.content}" rendered="#{not entry.editable}" />

                                <h:commandButton class="form-control" value="Edit" action="#{GuestBookController.editAction(entry)}" rendered="#{not entry.editable}" />
                                <h:commandButton class="form-control" value="Save" action="#{GuestBookController.update(entry)}" rendered="#{entry.editable}"/>
                            </b:dataTableColumn>




                        </b:dataTable>

                    </h:form>
                </div>
                <div class="container">
                    <h:form rendered="#{not LoginController.user.logged}">    
                        <h3>Add your entry...</h3>
                        <h:panelGrid columns="2">
                            <h:outputLabel for="name">Your name:</h:outputLabel>
                            <h:inputText value="#{GuestBookController.ei.name}" id="name"></h:inputText>
                            <br />
                            <br />

                            <h:outputLabel for="content">Your entry: </h:outputLabel>
                            <h:inputTextarea value="#{GuestBookController.ei.content}" id="content"></h:inputTextarea>
                            <br />
                            <br />

                            <h:commandButton action="#{GuestBookController.save(GuestBookController.ei)}" value="save"></h:commandButton>
                            <h:outputLabel value="#{GuestBookController.ei.name}" />
                        </h:panelGrid>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

