<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"

      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>JSFTEST (#{CB.counter})</title>
    </h:head>
    <h:body>
    <ui:composition template="template.xhtml">
        <ui:define name="content">
            <h:outputLink value="about.xhtml" title="About...">About...</h:outputLink><br/>
            <h:outputLink value="guests.xhtml" title="Guest Book">Guest Book</h:outputLink>
        </ui:define>
    </ui:composition>
    </h:body>
</html>

