<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      >
    <h:body>
        <ui:composition
            xmlns="http://www.w3.org/1999/xhtml"
            xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:h="http://java.sun.com/jsf/html"
            xmlns:f="http://java.sun.com/jsf/core"
            xmlns:b="http://bootsfaces.net/ui"
            >

            <nav class="navbar navbar-inverse navbar-header">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="#">Guest Book</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <h:form class="navbar-form navbar-right">
                            <div class="form-group">
                                <h:inputText rendered="#{not LoginController.user.logged}" class="form-control" value="#{LoginController.user.email}"/>
                            </div>
                            <div class="form-group">
                                <h:inputSecret  rendered="#{not LoginController.user.logged}" class="form-control" value="#{LoginController.user.pass}"/>
                            </div>
                            <div class="form-group">
                                <h:commandButton class="form-control" rendered="#{not LoginController.user.logged}"  actionListener="#{LoginController.login(LoginController.user)}" value="Login"/>
                            </div>
                            <div class="form-group">
                                <b:alert style="padding: 6px; margin: 0px" class="form-control" rendered="#{LoginController.user.logged}" severity="success">
                                    You are logged: #{LoginController.user.login} <b:commandButton class="form-control" ajax="true" update="@form" actionListener="#{LoginController.logout(LoginController.user)}" value="Logout"/>
                                </b:alert>
                                <h:outputLabel class="form-control" id="message" rendered="#{LoginController.user.logged}"><h:commandButton class="form-control" actionListener="#{LoginController.logout(LoginController.user)}" value="Logout H"/></h:outputLabel>
                                
                            </div>
                        </h:form>
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>

        </ui:composition>
    </h:body>
</html>
